body {
    background-image: linear-gradient(to bottom right, #478eeb, #2e40a7);
}

img {
    height: 200px;
    width: 200px;
}

h1 {
    font-size: 4rem;
}

h2 {
    font-size: 2.5rem;
}

header {
    display: flex;
    justify-content: space-between;
    margin: 1rem;
}

header ul {
    display: flex;
    font-size: 2rem;
    list-style-type: none;
}

header ul li {
    padding-left: 10px;
}

main {
    display: flex;
}

figure {
    display: flex;
}

section {
    display: flex;
}

footer {
    display: flex;
}